/* General Styles */
body {
  background-color: #101f26;
  font-family: Arial, Helvetica, sans-serif;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  margin: 0;
}

/* Error and Validation Styles */
.error {
  border: 1px solid red;
}

.errorMessage {
  color: red;
  font-size: 0.9em;
}

/* Game Container */
.gameContainer {
  background-color: #193540;
  padding: 20px;
  border: 2px solid #e4d7aa;
  text-align: center;
  box-shadow: 0 5px 15px rgba(0, 0, 0, 0.3);
}

/* Login Box Styles */

.loginBox {
  background-color: #e4d7aa;
  padding: 20px;
  border: 2px solid #193540;
  text-align: center;
  width: 320px;
  margin: 0 auto;
}

.loginHeading {
  color: #193540;
  font-size: 24px;
  margin-bottom: 20px;
  margin-top: 0px;
  border-bottom: 1px solid #193540;
  padding-bottom: 5px;
  text-align: center;
}

.inputGroup {
  margin-bottom: 10px;
  width: 90%;
  margin-left: auto;
  margin-right: auto;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
}

label {
  color: #193540;
  text-align: left;
  flex: 1;
}

input {
  width: 70%;
  padding: 4px 10px;
  border: 2px solid #193540;
  background-color: #ffffff;
  color: #000000;
  box-sizing: border-box;
}

/* Buttons (General) */

.buttons {
  display: flex;
  justify-content: center;
}

.button {
  padding: 10px 20px;
  border: 2px solid #193540;
  background-color: #e4d7aa;
  color: #193540;
  cursor: pointer;
  font-size: center16px;
} 
 .button:hover {
  background-color: #193540;
  color: #e4d7aa;
 } 

 /* Login Button */

.loginButton {
  background-color: #e4d7aa;
  color: #193540;
  padding: 10px 20px;
  border: 2px solid #193540;
  cursor: pointer;
  width: 120px;
  margin-top: 10px ;
}

.loginButton:hover {
  background-color: #193540;
  color: #e4d7aa;
  border: 2px solid #e4d7aa;
}

/* Menu Styles */

.menuBox {
  background-color: #e4d7aa;
  padding: 20px;
  border: 2px solid #193540;
  text-align: center;
  width: 320px;
  margin: 0 auto;
}

.menuOptions {
  display: flex;
  flex-direction: column;
  gap: 5px;
}

.menuButton {
  background-color: #e4d7aa;
  color: #193540;
  padding: 10px 20px;
  border: 2px solid #193540;
  cursor: pointer;
  width: 120px;
  margin: 5px auto;
  box-sizing: border-box;
  text-align: center;
}

.menuButton:hover {
  background-color: #193540;
  color: #e4d7aa;
  border: 2px solid #e4d7aa;
}

.menuHeading {
  color: #193540;
  margin-bottom: 20px;
  margin-top: 0px;
  padding-bottom: 5px;
  text-align: center;
  font-size: 24px;
  border-bottom: 1px solid #193540;
}

/* Game Styles */

.gameContainer {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background-color: #193540;
  padding: 30px;
  border: 2px solid #e4d7aa;
  width: 400px;
  margin: 0 auto;
}

.gameScoreTimer {
  display: flex;
  justify-content: space-between;
  margin-bottom: 20px;
  
 }

.gameScoreboard, .gameTimer {
  font-size: 1.2em;
  color: #193540;
  padding: 10px;
  border: 2px solid #193540;
  border-radius: 5px;
  background-color: #e4d7aa;
  margin: 10px;
  display: inline-block;
 
}

/* Question Area */
.questionArea {
  margin-bottom: 20px;
}

h3 {
  color: #e4d7aa;
  margin-bottom: 20px;
  border-bottom: 1px solid #e4d7aa;
  padding-bottom: 10px;
  font-size: 1.5em;
}

/* Answer Button Styles */
.answerOptions {
  display: flex;
  flex-direction: column;
  gap: 15px;
  
}

.answerButton {
 background-color: #e4d7aa;
 color: #193540;
 padding: 10px;
 border: 2px solid #193540;
 cursor: pointer;
 width: 100%;
 text-align: center;
 transition: background-color 0.3s ease;
}

.answerButton:hover {
  background-color: #193540;
  color: #e4d7aa;
  border: 3px solid #e4d7aa;
  
}

.answerButton:active {
  background-color: #193540; 
  color: #e4d7aa;
}

.answerButton.correct {
  background-color: #4CAF50; 
  color: white;
}

.answerButton.wrong {
  background-color: #f44336; 
  color: white;
}

 /* Game Over Styles */
 .gameOver {
  background-color: #e4d7aa;
  color: #193540;
  padding: 10px;
  border: 2px solid #191919;
  text-align: center;
  font-size: 1.2em;
  border-radius: 5px;
  margin-top: 20px;
 }




/* Restart Button */
#restartButton {
  background-color: #e4d7aa;
  color: #193540;
  padding: 10px;
  border: 2px solid #193540;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

#restartButton:hover {
  background-color: #193540;
  color: #e4d7aa;
}



