/* Global settings*/

* { /* To remove all preset margins and paddings. Set the font on all elements*/
    margin: 0;
    padding: 0;
    font-family: DM_Sans;
    
}

@font-face { /* Imports a new font from a file.*/
    font-family: DM_Sans;
    src: url(fonts//DM_Sans/DMSans-VariableFont_opsz\,wght.ttf);
}

body{
    background-color: #101f26;
}

button{
    padding: 15px 35px;
    background-color: #e4d7aa;
    border: 2px solid #e4d7aa;
    border-radius: 0px;
    cursor: pointer;
    color: #101f26;
    font-weight: 900;
    transition: 0.105s;
}

button:hover{
    background-color: #193540;
    color:#e4d7aa;
}

ul{
    list-style-type: none;
}

label {
    /*display: block;*/
    color: #193540;
    margin-bottom: 5px;
    text-align: left;
    flex: 1;
  }

  h3 {
    color: #e4d7aa;
    margin-bottom: 20px;
    border-bottom: 1px solid #e4d7aa;
    padding-bottom: 10px;
    font-size: 1.5em;
  }

  input {
    width: 70%;
    padding: 4px 10px;
    border: 2px solid #193540;
    background-color: #ffffff;
    color: #000000;
    box-sizing: border-box;
  }


#startContainer, #scoreboardContainer, #loginContainer, #gameContainer, #loginContainer { /* Centers divs vertically and horizontally.   */
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}


/*---------------------Login menu---------------------*/

/* #loginContainer {
    display:block;
    background-color: #193540;
    padding: 20px;
    border: 2px solid #e4d7aa;
    text-align: center;
    box-shadow: 0 5px 15px rgba(0, 0, 0, 0.3);
  } */
  
  .login-box {
    background-color: #e4d7aa;
    padding: 20px;
    border: 2px solid #193540;
    text-align: center;
    width: 320px;
    margin: 0 auto;
  }
  
  .login-heading {
    color: #193540;
    font-size: 24px;
    margin-bottom: 20px;
    margin-top: 0px;
    border-bottom: 1px solid #193540;
    padding-bottom: 5px;
    text-align: center;
  }

.login-btn {
    background-color: #e4d7aa;
    color: #193540;
    padding: 10px 20px;
    border: 2px solid #193540;
    cursor: pointer;
    width: 120px;
    margin-top: 10px ;
  }
  
  .login-btn:hover {
    background-color: #193540;
    color: #e4d7aa;
    border: 2px solid #e4d7aa;
  }

  .input-group {
    margin-bottom: 10px;
    width: 90%;
    margin-left: auto;
    margin-right: auto;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
  }




  #loginContainer {
    background-color: #e4d7aa;
    padding: 20px;
    border: 2px solid #193540;
    text-align: center;
    width: 320px;
    margin: 0 auto;
  }
  
  .loginHeading {
    color: #193540;
    font-size: 24px;
    margin-bottom: 20px;
    margin-top: 0px;
    border-bottom: 1px solid #193540;
    padding-bottom: 5px;
    text-align: center;
  }
  
  .inputGroup {
    margin-bottom: 10px;
    width: 90%;
    margin-left: auto;
    margin-right: auto;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
  }
  
  label {
    color: #193540;
    text-align: left;
    flex: 1;
  }
  
  input {
    width: 70%;
    padding: 4px 10px;
    border: 2px solid #193540;
    background-color: #ffffff;
    color: #000000;
    box-sizing: border-box;
  }
  .loginButton {
    background-color: #e4d7aa;
    color: #193540;
    padding: 10px 20px;
    border: 2px solid #193540;
    cursor: pointer;
    width: 120px;
    margin-top: 10px ;
  }
  .loginButton:hover {
    background-color: #193540;
    color: #e4d7aa;
    border: 2px solid #e4d7aa;
  }

/*---------------------Start menu---------------------*/
#startContainer{
    display:none;
    width: 50%;
    height: 25%;
    background-color: #193540;
    padding: 15px;
    border: 2px solid #e4d7aa;
    font-weight: 500;
    min-height: 230px;
    min-width: 561px;/* Sets the minimum width. If the screen is smaller, the div and its children will not smush together*/
}

#startContainer hr{
    background-color:#193540;
    border: 1px solid #101f26;
    border-radius: 100%;
    margin-bottom: 10px;
}

.startInnerContainer{
    position: relative; /* Centers a child to its parent's relative position. In this case .startContainer */
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 75%;
    height: 75%;
    text-align: center;
    display:flex;
    flex-direction: column;
    justify-content: center;
}

.startInnerContainerWhite{
    background-color: #e4d7aa;
    padding: 15px;
}

.startHeader{
    margin-bottom: 10px;
    font-weight: 600;
}

.startButtons{
    margin-top: 10px;
    display: flex;
    justify-content: flex-end;
}

.startButtons button{
    margin-left: 20px;
}

/*---------------------Game---------------------*/
#gameContainer {
    display:none;
    background-color: #193540;
    padding: 30px;
    border: 2px solid #e4d7aa;
    text-align: center;
    width: 400px;
    margin: 0 auto;
    box-shadow: 0 5px 15px rgba(0, 0, 0, 0.3);
  }
  
  .score-timer {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 20px;
    background-color: #193540;
    padding: 10px;
    border-radius: 5px;
    color:#e4d7aa;
   }

   .scoreboard, .timer {
    font-size: 1.2em;
    padding: 10px;
    border: 2px solid #e4d7aa;
    border-radius: 5px;
    color: #e4d7aa;
  }
  
  .question-area {
    margin-bottom: 20px;
  } 
  
  .answer-options {
    display: flex;
    flex-direction: column;
    gap: 15px;
    
  }
  
  .answer-btn {
    
    width: 100%;
    text-align: center;
  }

  .answer-btn:active{
    background-color: #193540; 
    color: #e4d7aa;
  }
  
  .answer-btn.correct{
    background-color: #4CAF50; 
    color: white;
  }

  .answer-btn.wrong{
    background-color: #f44336; 
    color: white;
  }
  
  .buttons {
    margin-top: 20px;
    display: flex;
    justify-content: center;
  }
  
  .button {
    padding: 10px 20px;
    border: 2px solid #193540;
    background-color: #e4d7aa;
    color: #193540;
    cursor: pointer;
    font-size: center 16px;
  }
  
   .game-over {
    background-color: #193540;
    color: #e4d7aa;
    padding: 20px;
    border: 2px solid #e4d7aa;
    text-align: center;
    font-size: 1.5em;
    border-radius: 5px;
    margin-top: 20px;
   }
/*---------------------Scoreboard---------------------*/

#scoreboardContainer{
    display:none;
    width: 50%;
    height: 35%;
    background-color: #193540;
    padding: 15px;
    border: 2px solid #e4d7aa;
    font-weight: 500;
    min-width: 482px;/* Sets the minimum width. If the screen is smaller, the div and its children will not smush together*/
    min-height: 250px;
}

.scoreboardInnerContainer{
    position: relative; /* Centers a child to its parent's relative position. In this case .startContainer */
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 75%;
    height: 75%;
    text-align: center;
    background-color: #e4d7aa;
    display:flex;
    justify-content: center;
    flex-direction: column;
}

.scoreboardHeader{
    padding-top: 5px;
}

.scoreboardContent{
    margin:8px;
    height:75%;
    overflow-y: scroll;
    border: 1px solid #101f26
}

.scoreboardContent li{
    border-bottom: 1px solid #101f26;
    margin-top: 5px;
}

  .buttons {
    display: flex;
    justify-content: center;
  }
  
  .menu-box {
    background-color: #e4d7aa;
    padding: 20px;
    border: 2px solid #193540;
    text-align: center;
    width: 320px;
    margin: 0 auto;
  }
  
  .menu-options {
    display: flex;
    flex-direction: column;
    gap: 5px;
  }
  
  .menu-btn {
    background-color: #e4d7aa;
    color: #193540;
    padding: 10px 20px;
    border: 2px solid #193540;
    cursor: pointer;
    width: 120px;
    margin: 5px auto;
    box-sizing: border-box;
    text-align: center;
  }
  
  .menu-btn:hover {
    background-color: #193540;
    color: #e4d7aa;
    border: 2px solid #e4d7aa;
  }
  
  .menu-heading {
    color: #193540;
    margin-bottom: 20px;
    margin-top: 0px;
    padding-bottom: 5px;
    text-align: center;
    font-size: 24px;
    border-bottom: 1px solid #193540;
  }