* { /* To remove all preset margins and paddings. Global settings.*/
    margin: 0;
    padding: 0;
    font-family: DM_Sans;
    
}

@font-face { /* Imports a new font from a file.*/
    font-family: DM_Sans;
    src: url(fonts//DM_Sans/DMSans-VariableFont_opsz\,wght.ttf);
}

body{
    background-color: #101f26;
}

button{
    padding: 15px 35px;
    background-color: #e4d7aa;
    border: 2px solid #e4d7aa;
    border-radius: 0px;
    cursor: pointer;
    color: #193540;
    font-weight: 900;
    transition: 0.105s;
}

button:hover{
    background-color: #101f26;
    color:#e4d7aa;
}

.start, .startContainer, .scoreboardContainer { /* Centers divs vertically and horizontally.   */
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.start, .startContainer{
    display: none; /* Temporarily disable divs for dev purposes. remove later---------------------------------------*/
}

.start button{
    padding: 15px 50px;
    background-color: #e4d7aa;
    border: 2px solid #e4d7aa;
    border-radius: 0px;
    cursor: pointer;
    color: #193540;
    font-weight: 900;
    transition: 0.105s;
}

.start button:hover{
    background-color: #101f26;
    color:#e4d7aa;
}

ul{
    list-style-type: none;
}

.startContainer{
    width: 50%;
    height: 25%;
    background-color: #193540;
    padding: 15px;
    border: 2px solid #e4d7aa;
    font-weight: 500;
    min-width: 482px;/* Sets the minimum width. If the screen is smaller, the div and its children will not smush together*/
}

.startContainer hr{
    background-color:#193540;
    border: 1px solid #101f26;
    border-radius: 100%;
}

.startInnerContainer{
    position: relative; /* Centers a child to its parent's relative position. In this case .startContainer */
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 75%;
    height: 75%;
    text-align: center;
    display:flex;
    flex-direction: column;
    justify-content: center;
}

.startInnerContainerWhite{
    background-color: #e4d7aa;
    padding: 10px;
}

.startHeader{
    margin-bottom: 5px;
}

.startBody{
    margin: 5px 0px;
}   

.startButtons{
    margin-top: 10px;
    display: flex;
    justify-content: flex-end;

}

.startButtons button{
    padding: 10px 25px;
    font-weight: bold;
    border: none;
    margin-left: 20px;
    background-color: #e4d7aa;
    color:#101f26;
    cursor: pointer;
    border: 2px solid rgba(0,0,0,0); 
    transition: 0.105s;
    /* Transparent border. Makes it so that when hovered a new border isn't created and therefore increasing it's size, making the div "jump" */
}

.startButtons button:hover{
    background-color:#193540;
    border: 2px solid #e4d7aa;
    color: #e4d7aa;
}

.scoreboardContainer{
    width: 50%;
    height: 35%;
    background-color: #193540;
    padding: 15px;
    border: 2px solid #e4d7aa;
    font-weight: 500;
    min-width: 482px;/* Sets the minimum width. If the screen is smaller, the div and its children will not smush together*/
    min-height: 250px;
}

.scoreboardInnerContainer{
    position: relative; /* Centers a child to its parent's relative position. In this case .startContainer */
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 75%;
    height: 75%;
    text-align: center;
    background-color: #e4d7aa;
    display:flex;
    justify-content: center;
    flex-direction: column;
}


.scoreboardHeader{
    padding-top: 5px;
}

.scoreboardContent{
    margin:8px;
    height:75%;
    overflow-y: scroll;
    border: 1px solid #101f26
}

.scoreboardContent li{
    border-bottom: 1px solid #101f26;
    margin-top: 5px;
}